/* Start Navbar css */

.bg-navbar-color{
	background-color: #01579b;
}

.navbar .nav-item:hover .nav-link{
	background-color: white;
	border-radius: 10px;
	color: #01579b;
}

/* End Navbar CSS */

/* Start Home Page index.jsp CSS*/



/* End Home Page index.jsp CSS*/