<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlets</servlet-name>
  	<display-name>LogoutServlets</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlets.LogoutServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogoutServlet</servlet-name>
  	<display-name>UserLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlets.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMovieServlet</servlet-name>
  	<display-name>AddMovieServlet</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlets.AddMovieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMovieServlet</servlet-name>
  	<display-name>UpdateMovieServlet</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlets.UpdateMovieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMovieServlet</servlet-name>
  	<display-name>DeleteMovieServlet</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlets.DeleteMovieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookMovieServlet</servlet-name>
  	<display-name>BookMovieServlet</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlets.BookMovieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBookingServlet</servlet-name>
  	<display-name>DeleteBookingServlet</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlets.DeleteBookingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserMovieBook</servlet-name>
  	<display-name>UserMovieBook</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlet.user.UserMovieBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDeleteBooking</servlet-name>
  	<display-name>UserDeleteBooking</display-name>
  	<description></description>
  	<servlet-class>com.cinema.servlet.user.UserDeleteBooking</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlets</servlet-name>
  	<url-pattern>/LogoutServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogoutServlet</servlet-name>
  	<url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMovieServlet</servlet-name>
  	<url-pattern>/AddMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMovieServlet</servlet-name>
  	<url-pattern>/UpdateMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMovieServlet</servlet-name>
  	<url-pattern>/DeleteMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookMovieServlet</servlet-name>
  	<url-pattern>/BookMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBookingServlet</servlet-name>
  	<url-pattern>/DeleteBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserMovieBook</servlet-name>
  	<url-pattern>/UserMovieBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDeleteBooking</servlet-name>
  	<url-pattern>/UserDeleteBooking</url-pattern>
  </servlet-mapping>
</web-app>
